.logo {
  height: 100px;
  margin-bottom: 10px;
  margin-left: 35px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black
}
ul:visited {
  color: black
}
ul:hover{
  color: black;
  font-style: bold;
}
header{
  height: 20px
}
section {
  background: url("https://thedrum-media.imgix.net/thedrum-prod/s3/adobestock_348839765.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 150px;
  margin-left: 35px;
  margin-right: 35px;
}

 #itemsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: center;
 }
 
#itemContainer{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: 35px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  height: 400px;
  width: 400px;
}
#itemDescription{
  font-size: 10px
}
#itemImage{
  height: 200px;
  width: 200px;
}