.itemedittitle {
  position: relative;
  top: 400px;
  color: black;
}
.itemeditprice {
  position: relative;
  top: 400px;
  color: black;
}
.itemeditcat {
  position: relative;
  top: 400px;
  color: black;
}

.canceledit {
  position: relative;
  top: 400px;
  color: black;
}

.submitedit {
  position: relative;
  top: 400px;
  color: black;
}

.editContainer {
  color: black;
}

.formelements {
  position: relative;
  top: -380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.itemeditdescription {
  position: relative;
  top: 400px;
  color: black;
  width: 650px;
  height: 500px;
}

.itemimage {
  position: relative;
  width: 689px;
  height: 947px;
  top: 77px;
}

.editNewItemTitle {
  position: fixed;
  font-size: 60px;
  top: 230px;
  width: 400px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.editButton {
  position: relative;
  left: ;
  float: right;
  margin-left: auto;

  height: 80px;
  background-color: transparent;
}
