section > * {
    margin: 1rem;
  }
  
  .list-container {
    display: flex;
    flex-wrap: wrap;
    background-color:grey
  }
  
  .items-card, .results-graph {
    background-color: rgb(240, 239, 239);
    border-radius: .5em;
    box-shadow: 1px 2px 2px gray;
  }
  
  .items-card {
    padding: 1rem;
    width: 15rem;
    margin: 1rem 1rem 1rem 0; /* No left margin */
  }
  
  .items-card img {
    max-width: calc(100% - .1rem);
    display: block;
    margin-bottom: .5rem;
  }
  section h1,h2{
    text-align: center;
  }